body {
    background-color: black;
}

header {
    text-align: center;
}

header h1 {
    font-family: Verdana;
    font-weight: normal;
    font-size: 50px;
    color: white;
}

a {
    color: aquamarine;
    font-size: 16px;
    text-align: center;
}

.video-container {
    display: flex;
    justify-content: center;
}


.travel-guide h1, 
.coming-soon h1{
    font-family: verdana;
    font-weight: 300;
    font-size: 42px;
    color: white;
    text-align: center;
}

.travel-guide p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 21px;
    color: gray;
    text-align: center;
}


.travel-guide .image-container{
    display: flex;
    justify-content: center;
    flex-shrink: 3;
}

.coming-soon{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.icon {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

footer{
    text-align: right;
    color: gray;
    font-family: verdana;
    font-size: 21px;
}


